.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;


    background-color: darkolivegreen;
}

.navbar h1{
    color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.navbar a{
    color: #cccccc;
    text-decoration: none;
    margin-left: 2rem;
}


